<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
  <title>Vue.js</title>
</head>

<body>
  <div id="app">
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12 texte center"> 
          <input type="text" placeholder="CEP" class="form-control"  maxlength="8" v-model="cep">
          <div class="my-5">
            <h1 :style="titleEstilo" :class="cortexTitle"> Seu CEP é: {{cep}} </h1>
          </div>
          <ul>
            <li v-for="(valor, chave) in endereco">{{chave}}: {{valor}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
  <script src="./vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        cep: "",
        endereco: {},
        titleEstilo:{
          background: "tomato",
          fontSize: "20px"
          
        },
        cortexTitle: "white-f"
      },
      watch: {
        cep(valor) {
          if(valor.length === 8) {
            fetch(`https://viacep.com.br/ws/${valor}/json/`)
            .then(r => r.json())
            .then(r => {
              this.endereco = r;
            });
          }
        }
      }
    });
  </script>

  <style>
    .white-f{
      color: #fff;
    }


  </style>
</body>
</html>